body {background-color: #E0DECA;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C7D36F;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #E0DECA;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9EB23B;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #9EB23B;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=text]:focus {
    border: 3px solid #9EB23B;  }
    select {
  width: 100%;
  padding: 12px 20px;
  border:  1px solid #9EB23B;
  border-radius: 4px;
  box-sizing: border-box;
}
  
  input[type=submit] {
    width: 100%;
    background-color:#9EB23B;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #C7D36F;
  }